#btn-delete {
    display: none;
    border: 1px;
    width: 0px;
    height: 0px;
    position: absolute !important;
    padding: 0;

}
.form-repcomment{
    display:none;    
}
.feedback1{
    display: flex;
}
.feedback{
    display: flex;
}
.feedback p, .feedback1 p{
    text-align: left;
    padding-right: 0.85rem;cursor: pointer;
    color: #4263f7!important;
}
.is_reply{
    /* height: 5px; */
}
.reply-comment{
    
}
.content-comment{
    text-align: left; 
    font-size: 14px;
    line-height: 14px;
}
#review {
    width: 550px;
}

#review:hover #btn-delete {
    display: inline-block;
}

.ml-1-compare {
    margin-left: -1rem;
}

.table-bordered thead th,
tr {
    text-align: center;
}

.qty-boxx input {
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    padding: 0 15px;
    text-align: center;
    width: 80px;
}

.listnews{
    display: block;
    overflow: hidden;
}

.listnews li{
    display: block;
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

.listnews li .linkimg{
    float: left;
    width: 200px;
    height: auto;
    margin-right: 15px;
    overflow: hidden;
}

.listnews li .linkimg img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}