#btn-delete {
    display: none;
    border: 1px;
    width: 0px;
    height: 0px;
    position: absolute !important;
    padding: 0;

}
.form-repcomment{
    display:none;    
}
.feedback1{
    display: flex;
}
.feedback{
    display: flex;
}
.feedback p, .feedback1 p{
    text-align: left;
    padding-right: 0.85rem;cursor: pointer;
    color: #4263f7!important;
}
.is_reply{
    /* height: 5px; */
}
.reply-comment{
    
}
.content-comment{
    text-align: left; 
    font-size: 14px;
    line-height: 14px;
}
#review {
    width: 550px;
}

#review:hover #btn-delete {
    display: inline-block;
}

.ml-1-compare {
    margin-left: -1rem;
}

.table-bordered thead th,
tr {
    text-align: center;
}

.qty-boxx input {
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    padding: 0 15px;
    text-align: center;
    width: 80px;
}

.listnews{
    display: block;
    overflow: hidden;
}

.listnews li{
    display: block;
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

.listnews li .linkimg{
    float: left;
    width: 200px;
    height: auto;
    margin-right: 15px;
    overflow: hidden;
}

.listnews li .linkimg img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}
#live_search{
    display: none;
}
.box_livesearch{
    position: absolute; 
    z-index: 100; 
    width: 421px;
    background-color: #f5f5f5;;
    border: 1px solid #eee;
    box-shadow: 2px 0px 0px 2px 5px black;
}
#inside_ls li div{
    margin: 0 1rem;
}
#inside_ls li div img{
    width: 121px;
}
.viewed{
    background: #f5f5f5;
    font-size: 13px;
    color: #666;
    font-weight: 400;
    padding: 10px;
}
.name_ls .row del{    
    margin: 1px 0;
}
.price_ls{
 font-size: 14px;
 margin: 0 15px;
    color: #222;
    float: none;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.psale{
    margin: -1px 8px;
}
#inside_ls li{
    display: flex;
    margin-top: 0.5rem;
}