#btn-delete{
    display: none;
    border: 1px;
    width: 0px;
    height: 0px;
    position: absolute!important;
    padding: 0; 
    
}
#review{
    width: 250px;
}
#review:hover #btn-delete{
    display: inline-block;
}
.ml-1-compare{
    margin-left: -1rem;
}

.table-bordered thead th, tr{
    text-align: center;
}

